config/*.yaml
config/*.yml
*.sde
versions/config/*.yaml
versions/config/*.yml
versions/*.sde
versions/config/*.sde
rebuildlocator/config/*.sde
rebuildlocator/config/*.ags
rebuildlocator/config/*.yaml
rebuildlocator/config/*.yml
rebuildlocator/*.sde
rebuildlocator/*.ags
compress/config/*.yaml
compress/config/*.yml
compress/*.sde
compress/config/*.sde
compress/*.log
*.log
versions/*.log